<%- include("navbar") -%>

    <body>
        <div class="container">
            <h2>Log in:</h2>
            <form method="POST" action="/login">
                <div class="mb-3">
                    <label for="userName" class="form-label">userName address</label>
                    <input type="userName" class="form-control" id="userName" name="userName"
                        aria-describedby="userNameHelp">
                    <div id="userNameHelp" class="form-text">You unique Username.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>