<%- include("navbar") -%>

    <body>
        <div class="container">
            <h2>Register</h2>
            <form method="POST" action="/register">
                <div class="mb-3">
                    <label for="userName" class="form-label">Username</label>
                    <input type="userName" class="form-control" name="userName" id="userName"
                        aria-describedby="userNameHelp">
                    <div id="userNameHelp" class="form-text">You unique Username.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>